body {
	background-color: #000000;
}

button {
    border-radius: 2%;
    border: none;
    box-shadow: 0px 0px 5px 1px #7e7e7e;
}
.glow:hover {
	box-shadow: 0px 0px 5px 3px #7e7e7e;
}

/* HEADER */
#header {
    text-align: center;
    color: white;
}

.ultimateHeaderText {
    font-size: 40px;
    font-family: "Copperplate", Times, Serif;
    margin-bottom: 0px;
    text-shadow: 0px 0px 5px 1px #7e7e7e;
}
#rpsText {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 2px;
}

/* BODY */
.mainBody {
    color:white;
    margin-top: 50px;
    text-align: center;
}

/* Home Screen Items */
#startButton {
    width: 200px;
    height: 50px;
    font-size: 19px;
    margin-bottom: 10px;
}
#startButton:hover {
    font-size: 20px;
}
#userStats {
    text-align: center;
    border: 1px solid #ffffff;
    width: 300px;
    margin: 0px auto 50px auto;
}
#currentExperience {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}
#activeEffects {
    font-size: 20px;

}
.containerTitles {
    text-align: center;
    font-size: 25px;
    font-family: "Copperplate", Times, Serif;
}
.upgradeTables {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
}
.upgradeTables td {
    padding: 15px;
    text-align: left;
}
.upgradeTables th {
    font-size: 20px;
    padding: 15px;
    text-decoration: underline;
    text-align: justify;
}
#xpSlider {
  width: 100%;
}
#xpTextBox {
  width: 73px;
  margin-bottom: 10px;
}
.progressButtons {
    width: 80px;
    height: 20px;
}
.equippedItems {
	font-size: 17px;
	font-weight: bolder;
}
.rankText {
  text-align: center !important;
}

/* Home Screen Items ANIMATIONS */
.floatingItems {
    animation-name: floatDown;
    animation-duration: 2s;
    position: relative;
}
@keyframes floatDown {
    0%      {
      bottom: 1000px; 
      opacity: 0;
      }
    100%    {
      bottom: 0px;
      opacity: 1;
      }
}

/* Game Screen Items */
#backBtnContainer {
  text-align: center;
  background-color: transparent;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
}
#backBtnContainer:hover {
  box-shadow: 0px 0px 5px 3px #ffffff;
}
#backBtn {
  color: white;
  font-size: 25px;
  margin-top: 0px;
}
#userSelectionBtns {
  text-align: center;
}
.userSelectionBtn {
  width: 200px;
  height: 200px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
#rockBtn {
	background: url(img/rock/rock.png) no-repeat center;
	background-size: contain;
	border: none;
}
#paperBtn {
	background: url(img/paper/Paper.png) no-repeat center;
	background-size: contain;
	border: none;
}
#scissorsBtn {
	background: url(img/scissors/Scissors.png) no-repeat center;
	background-size: contain;
	border: none;
}
#battleTable {
  margin: 50px auto 0px auto;
}
#battleTable th {
  font-size: 30px;
}
#battleTable td {
  padding: 30px;
  font-size: 50px;
  text-align: center;
  font-family: monospace;
  cursor: default;
}
.outcomeImg {
  width: 200px;
  height: 200px;
}
#outcomeText {
  font-size: 35px;
}

/* Game Screen Animation */
.fadeInItems {
  animation-name: fadeIn;
  animation-duration: 2s;
  position: relative;
}
@keyframes fadeIn {
  0%    {
    opacity: 0;
  }
  100%  {
    opacity: 1;
  }
}
.popUpFadeInItems {
	animation-name: popUpFadeIn;
	animation-duration: 2s;
	position: relative;
}
@keyframes popUpFadeIn {
	0%		{
		opacity: 0;
	}
	100% {
		opacity: 0.8;
	}
}
.fadeOutItems {
	animation-name: fadeOut;
	animation-duration: 2s;
	position: relative;
}
@keyframes fadeOut {
	0%		{
		opacity: 0.8;
	}
	100%		{
		opacity: 0;
	}
}

#footerWrapper {
  position: fixed;
  bottom:10px;
  left: 10px;
}
#footer {
  display: inline;
  color: white;
}
.footerContent {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
  color: white;
}
.footerContent:hover {
  color:rgba(216, 214, 214, 0.685);
}